.tarjetaTarea {
 background-color: slategrey;
 margin-top: 5px;
 padding: 10px 20px;
 cursor: pointer;
}

.tarjetaTarea.recordatorio{
    border-left: 5px solid green;
}

.tarjetaTarea h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}